.container {
  flex: 1;
  padding-top: 4em;
  background-color: #000;
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  background-color: #fff;
  color: #000;
  align-items: center;
  height: 6em;
  width: 3em;
  margin: 2em 1em;
  font-size: 16px;
}

.answerWrapper {
  display: flex;
  flex-direction: column;
  width: 95vw;
  gap: 4em;
}

.label {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: .8em;
}

.text {
  color: #fff;
  align-items: left;
  padding: 1em;
}

.poem {
  align-items: center;
  font-style: italic;
}

.bold {
  font-weight: bold;
  font-size: 38px;
  word-spacing: 10px;
}
